/* app css stylesheet */
body {
  padding: 5px;
}
.septa_route {stroke: gray; stroke-width:0px; fill-opacity:.5; opacity: 1}
#tooltip {
	position: absolute;
	width: 200px;
	height: auto;
	padding: 10px;
	background-color: white;
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
	pointer-events: none;
	opacity: 1;
}
.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
#routes li {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  float: left;
  list-style: none;
  opacity: .75;
  color: #FFF;
  cursor: pointer;
}
#routes li.active {
  opacity: 1;
  box-shadow: 2px 2px 1px 0px #3F3F3F;
  padding: 6px;
  margin: 4px;
  cursor: default;
}
#stops {
  display: block;
	height: 35px;
}
#loading {
	position: absolute;
left: 250px; top: 200px;
}
#graph {
  border: 1px solid #999;
  padding: 10px;
}
#graph-container {
  float: left;
  clear: both;
}
#map-container {
  clear: both;
  float: left;
}
#map {
  border: 1px solid #999;
  width: 600px;
  height: 600px;
}
#map svg {
position: absolute;
}


